[submodule "lilak_elog"]
	path = lilak_elog
	url = git@github.com:lilak-project/lilak_elog.git
	branch = main
[submodule "lilak_ui"]
	path = lilak_ui
	url = git@github.com:lilak-project/lilak_ui.git
	branch = main
[submodule "asset_manager"]
	path = asset_manager
	url = git@github.com:ejungwoo/cens-assets-tracker.git
	branch = lilak-ui-frontend
[submodule "scattering_simulation_2d"]
	path = scattering_simulation_2d
	url = git@github.com:lilak-project/scattering_simulation_2d.git
	branch = main
[submodule "g4toy"]
	path = g4toy
	url = git@github.com:lilak-project/g4toy.git
	branch = main
[submodule "lilak_gui"]
	path = lilak_gui
	url = git@github.com:lilak-project/lilak_gui.git
	branch = main
[submodule "nptoy"]
	path = nptoy
	url = git@github.com:lilak-project/nptoy.git
	branch = main
[submodule "nptool_cens"]
	path = nptool_cens
	url = git@github.com:lilak-project/nptool_cens.git
	branch = dev-lilak
